<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.soho.sohoapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />


    <application
        android:name=".SohoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_soho"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--windowSoftInputMode is required here to close keyboard after exit from AddProperty screen-->
        <activity
            android:name=".feature.home.HomeActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".feature.landing.LandingActivity"
            android:launchMode="singleInstance" />

        <activity android:name=".feature.landing.signup.SignUpActivity" />
        <activity android:name=".feature.landing.LoginActivity" />
        <activity android:name=".feature.landing.signup.RegisterUserInfoActivity" />

        <activity
            android:name=".feature.home.addproperty.AddPropertyActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.home.portfolio.details.PortfolioDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".feature.marketplaceview.feature.filters.PropertyFilterActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.home.editproperty.EditPropertyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.landing.ForgotPasswordActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.home.more.SettingsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.home.more.verifyNumber.VerifyPhoneActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.home.more.VerifyAgentLicenseActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".permission.PermissionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent" />

        <activity
            android:name=".feature.home.editproperty.publish.PropertyStatusActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.home.editproperty.publish.privatestatus.PrivateStatusSettingsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.home.editproperty.publish.publicstatus.PublicStatusSettingsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.home.editproperty.publish.PropertyDescriptionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible" />

        <activity
            android:name=".feature.home.editproperty.publish.publicstatus.AutocompleteAddressActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.home.editproperty.publish.publicstatus.sale.SaleAndAuctionSettingsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.home.editproperty.publish.publicstatus.rent.RentSettingsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.home.editproperty.publish.publicstatus.discoverable.DiscoverableSettingsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.home.editproperty.publish.publicstatus.updated.PropertyStatusUpdatedActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.home.editproperty.verification.VerificationActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.home.editproperty.verification.ownership.OwnershipVerificationActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.marketplaceview.feature.detailview.PropertyDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.profile.EditAccountActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.profile.password.EditAccountPassActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".feature.home.more.verifyNumber.EnterPinActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/key_google_geo_api" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="27bdc3cd5a4f0eb2353f5b7a78c9b6907c6f0cdb" />  <!--not working as string resource-->

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <meta-data
            android:name="elastico.ApiKey"
            android:value="@string/key_elasticode_api" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="@string/provider_authorities"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

    </application>

</manifest>