<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.soho.sohoapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".SohoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".home.HomeActivity"
            >
        </activity>
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme"
            android:label="@string/title_activity_home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".feature.landing.LandingActivity" />
        <activity android:name=".feature.landing.signup.SignUpActivity" />
        <activity android:name=".feature.landing.signup.RegisterUserInfoActivity"></activity>

        <activity
            android:name=".home.addproperty.AddPropertyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible"/>
        <activity
            android:name=".feature.marketplaceview.filterview.PropertyFilterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBNUDd-PUuMzF68Wqcdbr9uNghPScnEXt4"/>

    </application>

</manifest>