<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.soho.sohoapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />


    <application
        android:name=".SohoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--windowSoftInputMode is required here to close keyboard after exit from AddProperty screen-->
        <activity
            android:name=".feature.home.HomeActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".feature.landing.LandingActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.landing.signup.SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.landing.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.landing.signup.RegisterUserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.home.addproperty.AddPropertyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.home.portfolio.details.PortfolioDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".feature.marketplaceview.feature.filters.PropertyFilterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.home.editproperty.EditPropertyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".feature.landing.ForgotPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.home.more.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.home.more.verifyNumber.VerifyPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.home.more.VerifyAgentLicenseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".permission.PermissionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent" />
        <activity
            android:name=".feature.home.editproperty.publish.PropertyStatusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.home.editproperty.publish.privatestatus.PrivateStatusSettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.home.editproperty.publish.publicstatus.PublicStatusSettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.home.editproperty.publish.PropertyDescriptionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name=".feature.home.editproperty.publish.publicstatus.AutocompleteAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.home.editproperty.publish.publicstatus.sale.SaleAndAuctionSettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.home.editproperty.publish.publicstatus.rent.RentSettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.home.editproperty.publish.publicstatus.discoverable.DiscoverableSettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.home.editproperty.publish.publicstatus.updated.PropertyStatusUpdatedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.home.editproperty.publish.publicstatus.inspection.InspectionTimeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.home.editproperty.publish.publicstatus.inspection.NewInspectionTimeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.home.editproperty.publish.publicstatus.size.PropertySizeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.home.editproperty.connections.NewConnectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.home.editproperty.connections.ConnectionConfirmActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.home.editproperty.files.EditPropertyAddFileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.home.editproperty.files.EditPropertyPreviewFileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.home.editproperty.verification.VerificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.home.editproperty.verification.ownership.OwnershipVerificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.home.editproperty.archive.ArchiveConfirmationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.marketplaceview.feature.detailview.PropertyDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.profile.EditAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.profile.password.EditAccountPassActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.home.more.verifyNumber.EnterPinActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.chat.ChatConversationActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".feature.marketplaceview.feature.EnquireActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".feature.gallery.GalleryViewActivity" />
        <activity
            android:name=".notifications.NotificationsActivityHandler"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.AppCompat.Translucent">
            <intent-filter android:label="@string/filter_view_sohoapp_home">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "sohoapp://properties” -->
                <data
                    android:host="properties"
                    android:scheme="sohoapp" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/key_google_geo_api" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="${api_key_crashlytics}" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <meta-data
            android:name="elastico.ApiKey"
            android:value="@string/key_elasticode_api" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="@string/provider_authorities"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
        <receiver
            android:name="io.outbound.sdk.OutboundPushReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </receiver>

        <service
            android:name="io.outbound.sdk.OutboundService"
            android:exported="false"
            android:label="OutboundService">
            <intent-filter>
                <action android:name="com.soho.sohoapp.dev.outbound.action.TRACK_NOTIF" />
                <action android:name="com.soho.sohoapp.dev.outbound.action.DISPLAY_NOTIF" />
                <action android:name="com.soho.sohoapp.dev.outbound.action.RECEIVED_NOTIF" />
                <action android:name="com.soho.sohoapp.dev.outbound.action.OPEN_NOTIF" />
            </intent-filter>
        </service>
    </application>

</manifest>